<div id="<%= dom_id servicio %>">
  <p>
    <strong>Tipo:</strong>
    <%= servicio.tipo %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= servicio.estado %>
  </p>

  <p>
    <strong>Piezas:</strong>
    <%= servicio.piezas %>
  </p>

  <p>
    <strong>Fecha entrega:</strong>
    <%= servicio.fecha_entrega %>
  </p>

  <p>
    <strong>Vehiculo:</strong>
    <%= servicio.vehiculo_id %>
  </p>

</div>
