<%= form_with(model: vehiculo) do |form| %>
  <% if vehiculo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

      <ul>
        <% vehiculo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :patente, style: "display: block" %>
    <%= form.text_field :patente %>
  </div>

  <div>
    <%= form.label :marca, style: "display: block" %>
    <%= form.text_field :marca %>
  </div>

  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.text_field :ano %>
  </div>

 

  <div class="field">
    <%= form.fields_for :citum_attributes do |citum_fields| %>
      <%= citum_fields.label :fecha, "Fecha de Cita" %>
      <%= citum_fields.date_field :fecha, value: @vehiculo.citum&.fecha.to_s %>
    <% end %>
  </div>

 
  <!--Collection para asignar un cliente al vehículo-->
<div>
  <%= form.label :user_id, style: "display: block" %>
  <%= form.collection_select :user_id, User.all, :id, :nombre_completo, { include_blank: "Selecciona un cliente" } %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
