<div id="<%= dom_id vehiculo %>">
  <p>
    <strong>Patente:</strong>
    <%= vehiculo.patente %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= vehiculo.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= vehiculo.modelo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= vehiculo.ano %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vehiculo.user_id %>
  </p>

</div>
