<%= form_with(model: @user, url: admin_create_path, method: :post) do |f| %>
  <%= f.fields_for :user do |user_fields| %>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card shadow">
            <div class="card-title text-center border-bottom">
              <h2 class="p-3">Create new user</h2>
            </div>
            <div class="card-body">
              <form>
                <div class="mb-4">                   
                    <%= user_fields.label :nombre, class:'form-label' %>
                    <%= user_fields.text_field :nombre, autofocus: true, autocomplete: "nombre", class:'form-control' %>
                </div>
                <div class="mb-4">                   
                    <%= user_fields.label :apellido, class:'form-label' %>
                    <%= user_fields.text_field :apellido, autofocus: true, autocomplete: "apellido", class:'form-control' %>
                </div>
                <div class="mb-4">                   
                    <%= user_fields.label :direccion, class:'form-label' %>
                    <%= user_fields.text_field :direccion, autofocus: true, autocomplete: "direccion", class:'form-control' %>
                </div>
                <div class="mb-4">                   
                    <%= user_fields.label :telefono, class:'form-label' %>
                    <%= user_fields.text_field :telefono, autofocus: true, autocomplete: "telefono", class:'form-control' %>
                </div>
                <div class="mb-4">                  
                  <%= user_fields.label :username %><br />
                  <%= user_fields.text_field :username, autofocus: true, autocomplete: "username", class:'form-control'  %>
                </div>
                <div class="mb-4">                   
                  <%= user_fields.label :email %><br />
                  <%= user_fields.email_field :email, autocomplete: "email", class:'form-control'  %>
                </div>
                <div class="mb-4">     
                  <%= user_fields.label :role %><br />
                  <%= user_fields.select :role, User.roles.keys.map { |w| [w.humanize, w] }, include_blank: "Select a role" , class:'form-control'%>
                </div>
                <div class="mb-4">
                  <%= user_fields.label :password %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= user_fields.password_field :password, autocomplete: "new-password", class:'form-control' %>
                </div>             
                <div class="mb-4">
                  <%= user_fields.label :password_confirmation %><br />
                  <%= user_fields.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
                </div> 
                <% end %>
                <div>
                  <%= f.submit "Create user", class:"btn btn-success" %>
                </div>
              <% end %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br >
<div class=" d-flex justify-content-center align-items-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>